[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RNAsense"]
	path = RNAsense
	url = https://github.com/marcusrosenblatt/rnasense
	shallow = true
	registered = true
